.clickable:hover {
  cursor: pointer;
}

.bg-login-image {
  background: url("./../img/login.svg");
  background-position: center;
  background-size: cover;
}

.bg-register-image {
  background: url("./../img/register.svg");
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url("./../img/forgot-password.svg");
  background-position: center;
  background-size: cover;
}

.card-hover:hover {
    cursor: pointer;
    background: #e5e5e5;
}
